<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mailbox</title>
  <link rel="stylesheet" href="mailbox.css">
</head>
<body>
  <table>
    <thead>
      <tr class="headTitle">
        <th colspan="2"><img src="envelope.png">&nbsp; 메일박스</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="first"><input type="checkbox" name="check"></td>
        <td class="first"><strong>Tom</strong><br>Hello,this is Tom.</td>
      </tr>
      <tr>
        <td><input type="checkbox" name="check"></td>
        <td><strong>Sam</strong><br>This is Friday</td>
      </tr>
      <tr>
        <td><input type="checkbox" name="check"></td>
        <td><strong>Chloe</strong><br>I love Java!</td>
      </tr>
      <tr>
        <td><input type="checkbox" name="check"></td>
        <td><strong>Alley</strong><br>CSS is my life.</td>
      </tr>
      <tr>
        <td><input type="checkbox" name="check"></td>
        <td><strong>Willson</strong><br>Is it rainy yet?</td>
      </tr>
    </tbody>
  </table>
</body>
</html>