<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>navi</title>

  <style>
    .container {
      color: white;
      background-color: black;
      height: 50px;
      display: flex;
      justify-content: space-evenly;
    }

    .container div {
      line-height: 50px;
      width: 20%;
      text-align: center;
    }

    .container div:hover {
      background-color: darkgrey;
    }

  </style>
</head>
<body>
  <div class="container">
    <div>home</div>
    <div>company</div>
    <div>product</div>
    <div>service</div>
  </div>
</body>
</html>