<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>gallery</title>
  <link rel="stylesheet" href="gallery.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Cookie&family=Great+Vibes&family=Updock&display=swap" rel="stylesheet">
</head>
<body>
  <div class="contents">
    <div class="contents-top">
      <div class="contents-top-1">
        <img src="1.jpg">
        <h1>Life Friendly</h1>
        <p>some text to build on the gallery and make up the bulk of the gallery's conetent</p>
      </div>
      <div class="contents-top-2">
        <img src="2.jpg">
        <h1>Life Friendly</h1>
        <p>some text to build on the gallery and make up the bulk of the gallery's conetent</p>
      </div>
    </div>
    <div class="contents-bottom">
      <div class="contents-bottom-1">
        <img src="3.jpg">
        <h1>Life Friendly</h1>
        <p>some text to build on the gallery and make up the bulk of the gallery's conetent</p>
      </div>
      <div class="contents-bottom-2">
        <img src="4.jpg">
        <h1>Life Friendly</h1>
        <p>some text to build on the gallery and make up the bulk of the gallery's conetent</p>
      </div>
    </div>
  </div>
</body>
</html>